<!DOCTYPE html>
<html xmlns:th="http://www.thymelaef.org">
<head>
    <meta charset="UTF-8">
    <title>index</title>
</head>
<body>

<a th:href="@{/oauth2/authorization/google}">Google Login</a> <br>

<a th:href="@{/user}">로그인한 유저만 사용 가능</a> <br>

<a th:href="@{/addClothes}">옷 등록</a> <br>

<a th:href="@{/testAI}">모델 테스트</a> <br>

<a th:href="@{/testing}">연결 테스트</a> <br>

<div th:if="${session.user != null}">
    [[${session.user.email}]],[[${session.user.name}]] <a th:href="@{/logout}"> logout</a>
</div>

</body>
</html>